* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    gap: 20px
}

.card a {
    width: 60px;
    height: 60px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    position: relative;
}

.card a:hover {
    box-shadow: 0 0 0;
    background-color: var(--setColor);
}

.card a span {
    font-size: 0;
    position: absolute;
    box-shadow: -2px 2px 4px var(--setColor);
    padding: 4px;
    top: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    transition: 0.5s;
    background-color: var(--setColor);
    color: white;
    font-family: sans-serif;
}

.card a:hover span {
    opacity: 1;
    top: -40px;
    font-size: 15px;
}

.card a i {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: var(--setColor);
    transition: 0.5s;
}

.card a:hover i {
    color: white;
}